body,
html {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  font-family: Arial;
  font-size: .9em;
  overflow-x: hidden;
  transition: background-color .5s ease;
  color: black;
}


#face {
  width: 256px;
  height: 256px;
  text-align: center;
}

body {
  -webkit-transition: 3s -webkit-filter linear;
  -moz-transition: 3s -moz-filter linear;
  -moz-transition: 3s filter linear;
  -ms-transition: 3s -ms-filter linear;
  -o-transition: 3s -o-filter linear;
  transition: 3s filter linear, 3s -webkit-filter linear;
  filter: grayscale(0)
}

.greyscale {
  filter: grayscale(1)
}

body.show #face {
  max-width: 97%;
  max-height: 97%;
  margin: 1.5%;
  transition: all .5s ease
}

body.show #face:focus,
body.show #face:hover {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  box-shadow: none
}

#description {
  box-sizing: border-box;
  position: absolute;
  background-color: rgb(69, 245, 0);
  border: 1px solid rgb(0, 195, 42);
  transition: all .5s ease 0s;
  padding: 5px 8px;
  bottom: 5px;
  opacity: 0;
  right: -500px
}

#description p {
  padding: 0;
  margin: 0
}

#description .hide {
  display: none
}

#description:hover .hide {
  display: block
}

#description.show {
  opacity: .7;
  right: 5px
}

#description.show:hover {
  opacity: 1
}

#description a {
  color: #00f;
  cursor: pointer
}

#description a:hover {
  text-decoration: underline
}

@media only screen and (max-width:600px) {
  #description {
    width: 100%;
    font-size: .8em;
    padding: 5px 15px
  }
}

#face {
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  box-shadow: 0 0 5px rgba(10, 10, 10, .8)
}

.blinking {
  animation: blinkingText 1s infinite
}

.blinking:hover {
  animation: none;
  color: #00008b;
  text-decoration: underline;
  cursor: pointer
}

@keyframes blinkingText {
  0% {
    opacity: 1
  }

  49% {
    opacity: .4
  }

  50% {
    opacity: .4
  }

  99% {
    opacity: .4
  }

  100% {
    opacity: 1
  }
}

a.new {
  display: inline-block;
  position: relative
}

a.new::after {
  display: block;
  content: 'new';
  position: absolute;
  top: -1em;
  right: -1.5em;
  font-size: 8px;
  color: rgb(0, 0, 0);
  padding: 3px;
  width: 2em;
  text-align: center;
  opacity: .9
}

a {
  text-decoration: none
}

a:hover {
  text-decoration: underline
}

#description a.disabled {
  color: rgb(112, 0, 97);
  cursor: not-allowed
}

#description a.disabled:hover {
  text-decoration: none
}

